{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Факультет вычислительной техники и электроэнергетики начал свою работу с 1 сентября 2015 года. Он организован на базе двух факультетов: информатики и электромеханического. До 2002 года в Псковском политехническом институте был факультет автоматизации и вычислительной техники, который потом разделился на 2 факультета: информатики и электромеханический. Сейчас они опять вместе.</p>

{% endblock %}
