{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Факультет вычислительной техники и электроэнергетики<br />
    180000, г. Псков, ул. Л. Толстого, д. 4, корп. 3<br />
    <abbr title="Телефон">Тел.:</abbr>
    8 (8112) 79-77-34<br />
    <abbr title="Телефон">Тел.:</abbr>
    8 (8112) 79-78-65 
</address>

<address>
    <strong>Электронная почта:</strong>   <a href="mailto:fvte@pskgu.ru">fvte@pskgu.ru</a><br />
</address>

{% endblock %}
